extends layout

block content
   h1= title
   p These are a few of my projects.

   div.tile
      a(href='/recipes')
         h3 Hungry Adelaide Recipes
         img#recipes

   div.tile
      a(href='/tictactoe')
         h3 Mushrellows (Tic-Tac-Toe)
         img#tictactoe


