doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    p
      a(href='https://github.com/jeremyrsellars') GitHub
      span &nbsp;|&nbsp;
      a(href='http://stackoverflow.com/users/787893/agent-j') Stack Overflow
